body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  color: #fff;
  background: linear-gradient( -45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: change 5s ease-in-out infinite;
}

/* .site-header .navbar-nav .nav-link {
  color: #000000;
} */

.site-header .navbar-nav .nav-link:hover {
  color: #000000;
  font-size: 16px;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.story-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.navbar-dark .navbar-brand {
  color: rgb(0, 0, 0);
  
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}


header {
  font: 400 17px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 1.5px 1.5px 1.5px rgb(110, 110, 110);
}
