{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
   
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2"">Sanjeev</a>
        <small class="text-muted">07/20/2020</small>
      </div>
      <h2 class="article-title">About</h2>
      <p class="article-content">This is about!</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock content %}
