{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <h6><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">${{ post.costpp }}</a></h6>
            <h6><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.univ }}, {{ post.city }}</a></h6>
            <p class="article-content">{{ post.story }}</p>
            <div class="gallery">
            {% set x= post.images %}
            {% set l =  (x.split(','))%}
            {% for i in l%}
            {% if i == l|last %}
              {% set i = i[:-1] %}
              {% endif %}
            {% set i = i[2:] %}
            {% set i = i[:-1] %}
                <!-- <div class="col-md-auto"> -->

                  <!-- <img class="img-rounded img-thumbnail" src="{{ url_for('static', filename='post_pics/' + i) }}" height="2500" width="400"> -->
                  <a href="{{ url_for('static', filename='post_pics/' + i) }}" data-lightbox="mygallery "> <img src="{{ url_for('static', filename='post_pics/' + i) }}" height="200" width="200"></a>

                  <!-- </div> -->
            {% endfor%}
          </div>
            <div class="navigation">
            {% for i in l%}
              <label class="bar"></label>
            {% endfor %}
            </div>


                  </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
